# Node
node_modules/
package.json
package-lock.json
.npmrc
.npm/

# Runtime / tools
.9router/
.ollama/
snap/
ssl_certs/
vmware-tools-distrib/
VMwareTools-*.tar.gz
install_*.sh
openssl-*.tar.gz*
run.sh

# Cert
fullchain.pem
privkey.pem
*.pem
*.key
*.crt

# Logs / DB
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db

# Không push folder ngoài repo build
corebank-panel-main/
pterodactyl-debian/
pterodactyl-debianpe/
pterodactyl-installers-debianpe/
pterodactyl-alpine/

pterodactyl-nodejs*/

# Root user files
.bash_history
.bashrc
.cache/
.config/
.docker/
.git-credentials
.gitconfig
.lesshst
.local/
.pip/
.profile
.selected_editor
.ssh/
.viminfo
.wget-hsts
